body {
    background-color: #211F2A; 
    color: white; 
    font-family: Arial, sans-serif; 
    height: 100vh;
    margin: 0; 
}

table {
    width: 100%; 
    border-collapse: collapse;
}

th {
    padding: 10px; 
    text-align: left; 
}

tr:nth-child(odd) {
    background-color: #211F2A; 
}

tr:nth-child(even) {
    background-color: #262836; 
}

.classement{
    margin: 0 10% 0 10%;
}