footer {
    position: fixed;
    width: 25%;
    text-align: center;
    color: white;
    padding: 10px 0;
    bottom: 10px;
    left: 50%; 
    transform: translateX(-50%);
  }
  
  footer p {  
    margin: 0;
  }