main
{
    height: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap; 
}

#infosJeu 
{
    width : 50%;
    height: 20%;

}

#infosJeu *, #ajoutTempsDeJeu *
{
    padding: 1%;
}

#coverJeu
{
    position: fixed;
    top: 15%;
    right: 2%;

    width:40%;
    
}
