body {
  padding: 0;
  margin: 0;
  padding-top: 5%;
}
.navBar
{
  position: fixed;
  top: 0;
  width:100%;
}

#logo {
  width: 5%;
}

ul#navBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #211F2A;
}

ul#navBar li {
  float: right; 
}

ul#navBar li form {
  display: inline;
}

ul#navBar li button {
  font-size: 25px; 
  font-family: Inter;
  background: none; 
  border: none; 
  color: white;
  padding: 30px; 
  background-color: #211F2A;
  cursor: pointer; 
}

ul#navBar li button:hover {
  text-decoration: underline; 
}

.navBar a {
  color: white;
  text-decoration: none; 
}

.navBar li {
  color: white;
}