body {
  padding: 0;
  margin: 0;
}

#logo {
  width: 5%;
}

ul#navBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #211F2A;
}

ul#navBar li {
  float: right; /* Aligne les éléments à droite */
}

ul#navBar li form {
  display: inline; /* Affiche les formulaires sur la même ligne */
}

ul#navBar li button {
  font-size: 25px; /* Taille de la police */
  font-family: Inter; /* Police de caractères */
  background: none; /* Pas de fond */
  border: none; /* Pas de bordure */
  color: white; /* Couleur du texte */
  padding: 30px; /* Espacement autour du texte */
  background-color: #211F2A;
  cursor: pointer; /* Change le curseur pour indiquer que c'est cliquable */
}

ul#navBar li button:hover {
  text-decoration: underline; /* Soulignement au survol */
}

.navBar a {
  color: white;
  text-decoration: none; 
}

.navBar li {
  color: white;
}