body {
    background-color: #211F2A; 
    color: white; 
    font-family: Arial, sans-serif; 
    height: 100vh;
    margin: 0; 
}

#info{
    width: 300px;
    margin-left: 10%;
}


input[type="text"] {
    width: 100%; 
    padding: 10px; 
    margin: 10px 0;
    border: none; 
    border-radius: 4px; 
    color: white;
}

input[type="password"] {
    width: 100%; 
    padding: 10px; 
    margin: 10px 0;
    border: none; 
    border-radius: 4px; 
    color: white;
}

button {
    background-color: #6C56D4; 
    color: white; 
    border: none; 
    padding: 10px; 
    border-radius: 4px;
    cursor: pointer; 
    padding-bottom: 10px;
}

.connection-button:hover {
    background-color: #777; 
}

.inscription-button {
    background: none;
    border: none;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

.inscription-button:hover {
    text-decoration: underline; 
}

p{
    margin: 0;
}

#error{
    color:red;
}